<p>pessoas works!</p>

<table>
    <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>Apelido</td>
        <td>Saldo</td>
    </tr>
    <tr *ngFor="let item of pessoas">
        <td>{{item.id}}</td>
        <td>{{item.nome}}</td>
        <td>{{item.apelido}}</td>
        <td>{{item.saldo}}</td>
    </tr>
</table>

<button (click)="addClicked"></button>